@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;
}

:root {
    --important: #007bff;
    --success: #28a745;
    --infor: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
}

*:focus {
    outline: none;
}

.align {
    justify-content: center;
    align-items: center;
    display: flex;
}

.app {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    filter: blur(5px);
}

.fill-color {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 10;
}

.content {
    width: 100vw;
    height: 100vh;
}

.music-player {
    position: relative;
    width: 550px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 30px 80px #656565;
    z-index: 100;
}

.play-track {
    position: absolute;
    top: -200px;
    left: 15px;
    right: 15px;
    height: 200px;
    background-color: #656565ba;
    border-radius: 20px 20px 0 0;
    transition: all 1s;
    z-index: 50;
}

.title {
    padding: 20px;
    box-sizing: border-box;
    height: 150px;
}

.track {
    width: 300px;
    float: right;
    margin-right: 70px;
}

.lyric {
    padding: 20px;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
}

.context-lyric {
    text-align: center;
}

.context-title {
    display: block;
}

.timmer {
    background-color: #b3b3b361;
    border-radius: 5px;
    padding: 3px 8px 3px 8px;
    height: 30px;
    width: 100%;
}

.track-time {
    width: 100%;
    height: 25px;
}

.current-time {
    float: left;
    font-size: 14px;
    color: white;
}

.length-time {
    float: right;
    font-size: 14px;
    color: white;
}

.tooltip {
    border-radius: 3px;
    background: mediumpurple;
    color: white;
    font-size: .75em;
    opacity: 0;
    width: fit-content;
    padding: 3px;
    position: absolute;
    top: -35px;
}

.tooltipShow {
    opacity: 1;
}

.track-style {
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

.track-range {
    height: 3px;
    width: 300px;
    background-color: #bfbfbf;
    position: relative;
    cursor: pointer;
}

.track-range::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 10px;
    width: 100%;
}

.select {
    background-color: #bb968f;
    width: 0;
}

.now {
    background-color: tomato;
    width: 0;
}

.player-box-al {
    position: absolute;
    width: 120px;
    height: 120px;
    top: -40px;
    left: 20px;
    border-radius: 60px;
    background: rgb(255, 255, 255);
    box-shadow: 0 30px 80px #656565;
    overflow: hidden;
    box-sizing: border-box;
    border: cornsilk 5px solid;
    transition: all 1s;
}

.player-box-al::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 10000
}

.player-control {
    float: right;
    display: flex;
}

.player-control-btn {
    width: 80px;
    height: 80px;
    margin: 10px;
    font-size: 2em;
    color: cadetblue;
    text-align: center;
    align-items: center;
    line-height: 80px;
    border-radius: 40px;
    transition: box-shadow .75s;
    cursor: pointer;
}

.title,
.track,
.title,
.context-title,
.lyric,
.context-lyric,
.timmer,
.track-time,
.current-time,
.length-time,
.track-range,
.select,
.tooltip,
.now {
    z-index: 50;
}

.player-control,
.player-control-btn,
.player-box-al {
    z-index: 1000;
}

.player-control-btn:hover {
    background: cadetblue;
    color: white;
    box-shadow: 0 30px 40px #656565;
}

.small {
    width: 50px;
    height: 50px;
    margin: 25px;
    color: rgb(124, 92, 240);
    font-size: 1em;
}

.small:hover {
    background-color: rgb(124, 92, 240);
    color: white;
    box-shadow: 0 30px 40px #656565;
}

h1 {
    font-size: 1.6em;
    color: white;
}

h3 {
    font-size: 0.9em;
    color: rgb(185, 185, 185);
}

p {
    font-size: 17px;
}

.list-music {
    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;
    background: rgba(255, 255, 255, 0.521);
    box-shadow: 0px 0px 80px #000000a1;
    height: 100vh;
    z-index: 500;
    transition: right 1s;
}

.btn-more {
    position: relative;
    height: 100%;
}

.btn-more-btn {
    position: absolute;
    top: 50%;
    left: -50px;
    cursor: pointer;
    background: white;
    transition: transform .75s;
}

.btn-more-btn:hover {
    transform: rotate(180deg);
    box-shadow: none;
}

.data {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.view-list {
    overflow-y: scroll;
    border-top: #e4d5d5 solid 2px;
    border-radius: 5px;
    margin: 0px 5px 0 5px;
    height: 500px;
    overflow-x: hidden;
}

.panel {
    position: relative;
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition: box-shadow .5s, transform .5s;
}

.panel:hover {
    background: #28a746;
    box-shadow: rgb(163, 163, 163) 0 30px 30px;
    transform: scale(1.05);
}

.bg-panel {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://scontent-hkg3-2.xx.fbcdn.net/v/t1.0-9/84916184_869070956882839_6151555386022297600_o.jpg?_nc_cat=107&_nc_oc=AQmRA3mzYkkIssSd5F3-ktknDecrjcmLnanH_ICyu82_uyEZQgCeT9RStQzkwHiv65o&_nc_ht=scontent-hkg3-2.xx&oh=ed71e2d7d68d975e94184df6524fa2f9&oe=5ED36402");
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    height: 100%;
    width: 100%;
    z-index: 100;
    opacity: 0.9;
}

.layer_text,
.i-m {
    z-index: 500;
}

.image-change {
    font-size: 1.5em;
    color: crimson;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

.btn-square {
    height: 40px;
    width: 380px;
    background-color: rgb(0, 192, 192);
    border: none;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: white;
}

.btn-square:hover {
    background-color: rgb(0, 92, 92);
}

input.btn-square {
    padding: 0 10px 0 10px;
    background-color: #f3beb4;
    box-sizing: border-box;
}

.control-data {
    padding: 100px 0 100px 0;
    left: 0;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 6px;
}

 ::-webkit-scrollbar-track {
    border-radius: 3px;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192);
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #4d4d4d;
}


/* js */

.remove {
    top: -0px;
    height: 0px;
    opacity: 0;
}

.xoay {
    animation-name: xoay;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
    top: -55px;
}

.show {
    opacity: 0.7 !important;
}

.loading {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.76);
    width: 110px;
    height: 110px;
    display: block;
    shape-rendering: auto;
    animation-play-state: running;
    animation-delay: 0s;
    opacity: 0;
    transition: opacity .5s;
}

.album {
    position: relative;
    height: 100%;
    width: 100%;
}

input[type="text"].btn-square {
    text-align: center;
}

input[type="text"].btn-square:focus {
    text-align: left;
    background-color: rgb(0, 92, 92);
}

.infor {
    position: absolute;
    left: 20px;
    bottom: -40px;
    min-width: 200px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    background: var(--danger);
    padding: 5px;
    text-align: center;
    color: white;
    z-index: 1000;
}

.showInfor {
    animation-timing-function: ease;
    animation-name: showInforAnimate;
    animation-duration: 5s;
}

.showInfor2 {
    animation-timing-function: ease;
    animation-name: showInforAnimate2;
    animation-duration: 5s;
}

@keyframes showInforAnimate {
    0% {
        bottom: -40px;
    }
    25% {
        bottom: 40px;
    }
    75% {
        bottom: 40px;
    }
    100% {
        bottom: -40px;
    }
}

@keyframes showInforAnimate2 {
    0% {
        bottom: -40px;
    }
    25% {
        bottom: 40px;
    }
    75% {
        bottom: 40px;
    }
    100% {
        bottom: -40px;
    }
}

@keyframes xoay {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}